body {
 border:solid red 2px;
 background-color:#f8f8f8;
}

#linkBox  {
   text-decoration: none;
}
.navs {
     list-style: none;
     font-size:11px;
}
   

.iniBoxYellow {

    width:422px;
    background-color:#FFCC00;
}
nav li > ul > li {

    text-align:right;
   
}


#levelOne > a{
    text-decoration:underline;
    font-size:17px;
}

#redBorder {

    
    width:420px;
}

#greenBorder {

    border:solid green 1px;
}