
.navbar-custum {

background-color:white;
margin-top:0;

}

.panel-default > .panel-heading {

    border-color:#E1E1E1;
    background-color:#CFE7FF;
    margin-bottom:0;

}

#novosti {
background-image:url('/INIGroup/Content/nav/rs/nav.jpg');
height:27px;
background-repeat:no-repeat;
}

.noPadding {
padding:0;
}

.font11 {
font-size:11px;

}






























#page-wrapper {
   margin:0 0 0 600px;
   overflow:hidden;
   /*width:648px;*/
   padding: 10px 10px 10px 10px;
}


/*left Section Navigation*/

.navSec {
   
    background-color:#ffffff;
    width:205px;
    height:auto;
    font-size:12px;
    font-family:Arial;
}

.navSec div {
padding:10px;    
    }

.subNav{
    /*list-style:none;
    padding-left:0px;*/
    list-style-type: none;
    margin:0;
    padding:0;
    
}



/* Middle section*/

.midSec{

    margin:0 10px 0 10px;
    width:400px;
    /*height:900px;*/
}




.CQTextBox {
    background-color:#FFCC00;
    text-align:left;
    font-family:Arial;
   
}

 .CQimg0 {
    
    background-image:url('/INIGroup/Content/cms_images/STR_631_74_956_5.jpg');
    height:160px;
    background-repeat:no-repeat;
}



.CQTextBox > p {
    margin:0;
    padding:4px 0 0 4px;
    font-size:12px;
      
    }

.CQBorder {
 
    background-image:url('/INIGroup/Content/cms_images/f3.gif');
    height:27px;
    background-repeat:no-repeat;
}

/* Right section  */

.CQimg1 {
    margin-top:20px;
    background-image:url('/INIGroup/Content/nav/rs/certqual.gif');
    height:27px;
    background-repeat:no-repeat;
    margin-top:0px;
}

.CQBox {

    background-color:#FFFFCB;
    /*height:600px;*/
   
}

.CQBox div {
    padding-left:10px;
}


.certImg1 {
width:1px;
 background-repeat:no-repeat;
}


.certImg2 {
 width:155px;
 background-repeat:no-repeat;
}

.CQBBottom {
    background-image:url('/INIGroup/Content/nav/rs/certbottom.gif');
    background-repeat:no-repeat;
    /*background-size:cover;*/
    height:37px;
    background-repeat:no-repeat;
}
/* Contact */

.Cntimg0 {
background-image:url('/INIGroup/Content/cms_images/cnt.jpg');
height:160px;
width:400px;
background-repeat:no-repeat;
}

.cntinfo {
margin-top:40px;
}
.ctnlinks {
background-image:url('/INIGroup/Content/nav/rs/relatedlinks.gif');
background-repeat:no-repeat;
height:27px;
}
.linksBox {
background-color:#d0e7fd;
width:200px;

}

.linksBox ul {
    text-decoration:underline;
    list-style:none;
    padding-left:20px;
    margin-bottom:0;
    }

.linksBottom {
background-image:url('/INIGroup/Content/nav/rs/l2.gif');
height:31px;
background-repeat:no-repeat;
}


/*About*/


.abtSideBox{
    background-color:#d0e7fd;
    width:200px;
}

.abtSideBox ul{
    background-color:#d0e7fd;
    list-style:none;
   padding-left:0;
}


.AbtImg0 {

background-image:url('/INIGroup/Content/cms_images/aboutus.jpg'); 
height:160px;
width:400px;
background-repeat:no-repeat;
}

.abtmss {
background-image:url('/INIGroup/Content/nav/rs/mission.gif');
height:30px; 
background-repeat:no-repeat;
}

.nwsBox {
margin-bottom:40px;
}

.nwsBox  h3 {
 
    color:#3F9AE3;
    margin:40px 0 100px 0;
}
ul#basic li{
padding-top: 0px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    background-image: url('/INIGroup/Content/nav/rs/icon_circlearrow.gif');
    background-repeat: no-repeat;
    background-position: 1px 5px;
    margin-right: 5px;
    margin-left: 5px;
    list-style-type: none;
}


/*Helper*/
.left {
    float:left;
}

.right {
    float:right;
}

.clear {
    clear:both;
}

.red{

    border:solid red 1px;
}

.green{

    border:solid green 1px;

}

.blue{
  
    border:solid blue 1px;
}














#linkBox  {
   text-decoration: none;

}
.navs {
     list-style: none;
     font-size:11px;
}
   

.iniBoxYellow {

    width:422px;
    background-color:#FFCC00;
}
nav li > ul > li {

    text-align:right;
   
}


#levelOne > a{
    text-decoration:underline;
    font-size:17px;
}






