@model DAS.UI.Models.Offers.OffersModel
@{
    ViewBag.Title = Html.PTPLabel("Home", "lblOffers");
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div style="width:810px;background-color:white;margin: 0 auto; overflow:auto; ">
    <div style="width:590px;background-color:white;display:block;text-align:left; float:left; padding-top:2em;padding-bottom:2em;">
        <table style="text-align:left;vertical-align:text-top;padding-left:10px;">
             <tr><td>@Html.Raw(Html.PTPLabel("Offers","ContentLeft"))</td></tr> </table>
        </div>
    <div style="width:200px;background-color:white;text-align:left; float:left; padding-top:2em;padding-bottom:2em">
    <table style="width:200px;background-color:#FFCC00;border-bottom-left-radius:10px;border-bottom-right-radius:10px;border-top-left-radius:10px;border-top-right-radius:10px;text-align:left;font-size:95%;vertical-align:text-top;padding:10px;">
         <tr><td>@Html.Raw(Html.PTPLabel("Offers","ContentRight"))</td></tr> </table>

        </div>
    </div>