@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>About</h2>
 <div class="midSec red left">
      <div class="CQTextBox">
            <div class="AbtImg0">
             </div>
            <p>
                Mi smo pouzdana i inovativna kompanija, 
                specijalizovana za razvoj softvera za međunarodnu industriju. 
                Kompanija je privatna, nezavisna i konstantno profitablna od 2000-te, 
                bez eksternog finansiranja i kredita. Kroz postojani organski rast 
                od preko 50% godišnje, razvili smo snažnu mrežu partnerau Evropi, 
                Americi i Aziji. Na taj način, INI predstavlja model globalne mikrokorporacije 21. veka.
            </p>
            <div class="CQBorder">
            </div>
        </div>
        <div class="cntinfo">
          <p>Naša adresa, Vama na raspolaganju: </p>
            <h3>INI Industrijski inženjering </h3>
              <span>
                    Danka Popovića 32<br>
                    11000 Beograd<br>
                    tel.: 011 20-88-666<br> 
                    fax: 011 20-88-637<br>
                  <a href="mailto:ini@ini.rs">ini@ini.rs</a>,<a href="mailto:office@das-serbia.com">office@das-serbia.com</a> 
              </span>
          </div>
        </div>
        <div class="navSec blue left">
            <div class="abtmss">
            </div>
            <p>Misija INI Grupe je razvoj i isporuka 
                inovativnih Web-zasnovanih aplikacija 
                i rešenja za nastajući globalni 
                e-Engineering sektor
            </p>
            <div class="linksBox">
                <ul>
                    <li>&rsaquo;&nbsp;&nbsp;u internacionalnom, multijezičkom i multikulturnom okruženju</li>
                    <li>&rsaquo;&nbsp;&nbsp;prema najvišim svetskim standardima</li>
                    <li>&rsaquo;&nbsp;&nbsp;sa najvećom brigom za potreba naših kupaca.</li>
               </ul>
            </div>
            <div class="linksBottom">
            </div>
        </div>
