@{
    ViewBag.Title = "Apps";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="col-sm-12">
    <h2>Web aplikacije</h2>
    <div class="col-sm-8">
        <div class="row mbottom">
            <img class="img-responsive " src="/INIGroup/Content/cms_images/apps.png" alt="abt.png" />
        </div>

        <div class="row">
            
           
            <div class="col-sm-9">
                  <h3 class="blueH">Najsavremenija rešenja za Vaše elektronsko poslovanje </h3>

                <p>
                    Naš tim ima dugogodišnje iskustvo razvoju Web aplikacija po zahtevu kupca, od aktivnih Web sajtova i industrijskih pretraživača, do velikih ekstranet aplikacija i najkompleksnijih inženjerskih proračuna. Projekti su većinom implementirani u internacionalnom i multijezičkom okruženju, sa podrškom i do 30 jezika sumultano, na Microsoft .NET platformi. Pogledajte našu <a href="@Url.Action("Customers","Home")">listu referenci</a> i <a href="@Url.Action("CaseStudies","Home")">primere realizovanih projekata.</a> 
                </p>
                <p>
                    Pored razvoja Web aplikacija, pripremili smo za Vas i spektar dodatnih usluga, koje Vam mogu omogućiti da ostvarite maksimalne rezultate na Internetu i u elektronskom poslovanju, po sistemu "ključ u ruke". Naši vrhunski specijalisti mogu uraditi za Vas: 
                </p>
            <ul id="basic">
                    <li><b>Konceptualizaciju e-poslovanja</b> prema najsavremenijim principima Internet marketinga</li>
                    <li><b>Strukturiranje Web sajta</b> koji efikasno prodaje korišćenjem metodologije Traženi Odgovor</li>
                    <li> <b>Povaćenje gledanosti</b> Web sajta i optimizacija za Internet pretraživače (Search Engine Optimization)</li>
                    <li><b>Višejezička rešenja</b> i razvoj sofisticiranih aplikacija i Web sajtova sa aktivnim bazama podataka</li>
                   
                <li><b>Rešenja iz oblasti e-poslovanja</b> između preduzeća ili delova preduzeća u globalnim okvirima</li>
                </ul>
                <p>
                    <b>Posebna pogodnost</b> koju smo pripremili za Vas u okviru rešenja za elektronsko poslovanje, je mogućnost zajedničkog razvoja, obuke i prenosa znanja, kroz zajednički rad na stvarnim projektima koji su od interesa za Vaše preduzeće, metodom Joint Application Development.

</p>



            
            </div>
            
        </div>

    </div>

    <div class="col-sm-4 ">
        <div class="row">
           
        <div class="panel panel-default">
                        <div id="blue" class="panel-heading text-center panel-custum">Znacajni linkovi</div>
                       <div class="panel-body font12">
                           <a href="/INIGroup/Documents/WebSolutions.ppt">Rešenja za Web poslovanje -predstavljanje za Microsoft PowerPoint</a>
                       </div>
                            
                        </div>
            </div>
            <div class="row">
                <div class="panel panel-default">
                        <div id="yellow" class="panel-heading text-center panel-custum">Utisci kupaca</div>
                        <div class="panel-body font12">
                            <p>Svi moji zahtevi su bili shvaćeni vrlo ozbiljno, i zatim detaljno razmotreni i implementirani. 
                            </p>
                            <p>Nastavite sa unapređenjima. Radite odličan posao. </p>
                            <p>M.J.L. Ostergaard <br />  
Haldor Topsoe, Danska</p>
                        </div>
                </div>
                 <div class="panel panel-default">
                        <div id="yellow" class="panel-heading text-center panel-custum">Reference</div>
                        <div class="panel-body font12">
                            <p>
                                Uz široku listu <a href="@Url.Action("Customers","Home")"> referenci iz sveta</a>, navodimo najvažnije reference u Srbiji. 
                            </p>
                            <ul class="list-unstyled text-justify mgn-btm-20">
                                <li class="mgn-btm-20"> &raquo;&nbsp; &nbsp; <b>Institut za rudarstvo i metalurgiju Bor:</b> 
e-poslovanje i sistem za prodaju proizvoda, usluga i publikacija preko Interneta</li>
                                <li class="mgn-btm-20"> &raquo;&nbsp; &nbsp;<b>Urbanistički zavod Beograda:</b> aktivni Web site, sa back-office aplikacijom</li>
                                <li  class="mgn-btm-20"> &raquo;&nbsp; &nbsp;<b>Građevinska direkcija Srbije:</b> e-poslovanje u oblasti građevinarstva i upravljanja investicijama; rešenja nagrađena specijalnim priznanjem za informatičko dostignuce 2003.</li>
                                <li  class="mgn-btm-20"> &raquo;&nbsp; &nbsp;<b>Farmaceutsko društvo Srbije:</b> aktivni Web site</li>
                                <li  class="mgn-btm-20">&raquo;&nbsp; &nbsp;<b>Hemijska industrija Župa:</b> e-poslovanje i sistem za prodaju proizvoda preko Interneta; zajednički projekat, nagradjen Saveznom nagradom za informatičko dostignuće 2002.</li>
                            </ul>
                            <img class="img-responsive " src="/INIGroup/Content/cms_images/priznanje_vel.jpg" alt="Alternate Text" />
                        </div>
                </div>
            </div>        
        </div>
                        
    </div>
