@{
    ViewBag.Title = "CaseStudies";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>CaseStudies</h2>

<div class="col-sm-12">
    <h2>Primeri projekata</h2>
    <div class="col-sm-8">
        <div class="row mbottom">
            <img class="img-responsive" src="/INIGroup/Content/cms_images/cs.png" alt="news.jpg" />
        </div>
        <div class="row">
            <div class="col-sm-9">
            <h4  class="blueH mgn-btm-20">B2B Search Engine for Power Transmission for SKF, Sweden
 </h4>  
                <p>
                    <b>The Challenge</b><br />
Entering into the European market with completely new line of over 27000 power transmission products. Promoting SKF as a leader in the newly entered power transmission area by providing value-added information to end-users and detailed product information to over 2000 distributors.
                </p>
                <p>
                    <b>The Solution</b><br />
Web portal in 20 languages, powered by custom-developed search engine with 6 different modules for main power transmission equipment groups. 

                </p>
                <p>
                    To distinguish SKF offering from competition, we developed together 8 complex power transmission calculations, grouped in 4 modules, and made them available online for end-users and distributors community free of charge. 
                </p>
                <p>
                    To make them appealing and easy-to-use for a broad range of end-users, the calculations included elaborated optimization algorithms and auto design options. The calculations are also coupled with the product database, thereby enabling users to select a proper SKF Power Transmission product as a result of calculations. 
                </p>
                <p>
                    Atop of that, a desktop version of the system was developed, and it included all key features and complete data scope of the main Web site. 
                </p>
            </div>
        </div>
        <hr />

        <div class="row">
            <div class="col-sm-9">
            <h3  class="blueH mgn-btm-20">e-Engineering for itp GmbH, Germany
 </h3>  
                <p>
                    <b>The Challenge</b><br />
Specialized, high-tech company in the business with styli and accessories for Coordinate Measuring Machines wanted to expand aggressively on the global market. To capture the market and keep their promise of being cheaper, faster and with the best quality, itp needed to implement the best and most elaborate e-Engineering solution within their vertical business. 
                </p>
                <p>
                    <b>The Solution</b><br />
The initial and core point of the solution is custom-developed 15-lingual styli and accessories search engine, unparalleled on the market. It was then bundled with B2B ordering system, which was localized for every important market, thus complying to the EU, US and Japanese laws and tax systems for example. 
                </p>
                <p>
                  B2B platform was also deployed to itp distributors, thereby creating B2D solution, which was then empowered with customized Content Management System enabled to handle Asian languages as well – Korean, Chinese, Japanese, Tailandese and more. 
                </p>
                <p>
                    Styli and accessories business requires a lot of customized styli configurations, capable of performing special measurement tasks. Together with itp, we developed the first online Styli Configurator, which guided customer in creating proper and feasible styli configuration, through a set of built-in algorithms. This program proved to be a real door opener for the company in approaching new customers. 

                </p>
                <p>
                    Atop of that, a desktop version of the system was developed, and it included all key features and complete data scope of the main Web site. 
                </p>
            </div>
        </div>
        <hr />
         <div class="row">
            <div class="col-sm-9">
            <h3  class="blueH mgn-btm-20">Extranet and B2D solution for Keeway Motors, Italy
 </h3>  
                <p>
                    <b>The Challenge</b><br />
Organizing sales and complete service chain for a new, unknown brand of affordable Chinese motorcycles on the Italian market, which is the most competitive in the world. 
                </p>
                <p>
                    <b>The Solution</b><br />
To benefit from price advantage and combat better known and branded competitors, it was a must to create well-developed and organized network, with hundreds of distributors and small service centers in every corner of Italy, and later in other countries. 
                </p>
                <p>
As the first step, an Extranet application is developed, to streamline exchange of technical and commercial documents among over 100 dealers, resellers and services centers. 
                </p>
                <p>
                    With such a network in place, an Extranet application VIM, which stands for Vehicle Information Management, was a logical next step. This application covered complete B2D supply chain, from delivery to sales and beginning of warranty period. 
                </p>
                <p>
                Following the life cycle of the vehicle, next module implemented was After Sales, to manage complete after sales cycle of a vehicle. Through the Web application, a real time information on services activities could be obtained, as well as a large number of statistic reports on vehicle behavior in warranty period and exploitation, activities and quality of service centers, reclamations, regional and time-based analysis and more. 
                </p>
                <p>
Finally, we implemented SPIM, Spare Parts Information Management application, to manage complete logistics of spare parts. 
                </p>
                <p>
"Although we had an excellent sales increase in the second year of our business from 1000 to 3000 units, without this system we would face a limit impossible to overcome," says Massimo Ascari, CEO of Keeway Motors. "Now, with these powerful tools and a strong network of distributors, we are heading toward 10000 units and a role of a major player on the Italian and other markets. 
                </p>
            </div>
        </div>
        <hr />
         <div class="row">
            <div class="col-sm-9">
            <h3  class="blueH mgn-btm-20">Sales Tool for itp GmbH, Germany
 </h3>  
                <p>
                    <b>The Challenge</b><br />
Selling product line of over 1600 CMM styli and accessories against competition on different markets worldwide. Competitors are bigger, well positioned companies, and the products are relatively low-priced, ranging on average a few hundred dollars or euros per single sale. 
                </p>
                <p>
                    <b>The Solution</b><br />
To take advantage of more favorable price and quality <b>itp</b> , its sales force and distributors needed to clearly and simply present advantages of their products in direct, product-to-product comparison with better known competitors. 
                </p>
                <p>
                 The whole system was then equipped by Web-enabled search engine, which was enabled to find every styli in the global market either by any possible producer code or by some geometrical or other property. As a result, a salesman gets screen with competitors product, compared with <b>itp</b> product and a complete landscape of other competitors, all of them with detailed technical properties and the prices for a specific market. 
                </p>
                <p>
                    By using this application,<b>itp</b> sales force was enabled to effectively and precisely communicate with customers benefits and savings of each product. Even by phone, they can analitically and in detail compare product within thousands to an equivalent from a selected competitor, this way directly taking over business from competitors
                </p>
                <p>
                    Atop of that, a desktop version of the system was developed, and it included all key features and complete data scope of the main Web site. 
                </p>
            </div>
        </div>
        <hr />
         <div class="row">
            <div class="col-sm-9">
            <h3  class="blueH mgn-btm-20">Customer Satisfaction Survey for SKF, Sweden
 </h3>  
                <p>
                    <b>The Challenge</b><br />
Finding out what customers and distributors really think about SKF products and services. In Europe only, this means over 2000 distributors and tens of thousands of end-users. An immense, highly time-consuming and costly task, made even more difficult by the fact that customers are not willing to spend much of their time responding to questions and dealing with questionnaires. 
                </p>
                <p>
                    <b>The Solution</b><br />
Developing intelligent online survey with fewer questions and deeper analysis. 
                </p>
                <p>
                 Customer Satisfaction Survey for 2006 (CSS 2006) was targeted to distributors, direct and indirect end-users, both technical and commercial, and suited to work with a variety of channels: online, telephone and hard copy questionnaires. 
 
                </p>
                <p>
                   The CSS 2006 is designed to have intelligent branching, depending on priorities given by the respondent. Questions are in format of factors in order to simplify understanding and choice of priorities. The system re-orders the questions, filters the top 4 or 5 priorities for each block of questions, and then calculates the critical questions for the customer combining the priority and satisfaction rates and pops up comment boxes. 
                </p>
                <p>
                 Besides various commenting options, high flexibility of CSS also allows customer to define his/her own questions. Branching and prioritization of questions on the hand keep the Survey simple for respondent, easy and quick to fill in.  
                </p>
                <p>
                    In the back office, there are 10 types of reports, analyzing various aspects of customer satisfaction, loyalty and position versus competitors, for different products and services, and processes. All reports are sortable by groups, areas and countries, this way providing an excellent tool and metric for planning and implementing improvements. 
                </p>
            </div>
        </div>
        <hr />








    </div>

    <div class="col-sm-4">
        <div class="row">
            <div class="col-sm-12">
                <div class="panel panel-default ">
                    <div id="blue" class="panel-heading text-center">Značajni linkovi</div>
                    <div class="panel-body">
                        <ul class="list-unstyled text-center font12">
                            <li><a href="#">&rarr;&nbsp; &nbsp;Pogledajte šta naši kupci kažu o radu sa nama</a></li>
                            <li><a href="#">&rarr;&nbsp; &nbsp;Javite nam se, da zajedno pronađemo najbolje rešenje za Vas</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
         <div class="row">
            <div class="col-sm-12">
                <div class="panel panel-default">
                    <div id="yellow" class="panel-heading text-center">Utisci Kupaca</div>
                    <div class="panel-body text-justify font11">
                        <p>U seriji naših projekata, vaš tim je pokazao veliko razumevanje našeg poslovanja i vertikalnog tržišta, stvarnu empatiju i brzo vreme reagovanja. </p>
                        <p>
                            Radujem se našoj budućoj saradnji u projektima za globalno tržište. 
                        </p>
                        <p>
                            Massimo Ascari <br />    
Keeway Motors, Italija

                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>



</div>
