@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
     

        <div class="col-sm-12 col-sm-push-1">
          <h2>Kontakt</h2> 
       <div class="col-sm-8">
           <div class="row">
                <div class="col-sm-12">
                   
                    <img class="img-responsive" src="/INIGroup/Content/cms_images/cnt.png" alt="cnt.jpg" />
                    
                   
                </div>
            </div>
           <div class="row">
               <div class="col-sm-12">

<p>Naša adresa, Vama na raspolaganju: </p>
  <h3> <b>INI Industrijski inženjering</b></h3>
                   <address>
  <br>
  Danka Popovića 32<br>
   11000 Beograd<br>
  <abbr title="Phone">Tel:</abbr>  011 20-88-666<br> 
  <abbr title="Fax">Fax:</abbr>  011 20-88-637
</address>

<address>
  <a href="mailto:ini@ini.rs">ini@ini.rs</a>,<a href="mailto:office@das-serbia.com">office@das-serbia.com</a>
</address>

       
            </div>

           </div>
        </div>
        <div class="col-sm-4 col-md-pull-1">
            <div class="panel panel-default">
                        <div id="blue" class="panel-heading text-center panel-custum">Znacajni linkovi</div>
                            <ul style="list-style:none;">
                                <li>&raquo;&nbsp;&nbsp;<a href="#">ID Obrazac</a></li>
                                <li>&raquo;&nbsp;&nbsp;<a href="#">PEPDV</a></li>
                            </ul>
                        </div>
                    </div>
        </div>
    </div>




























@*<div class="col-sm-12 col-sm-push-1">
    
 <h2>Kontakt</h2>
    <div class="midSec left">
      <div class="CQTextBox">
            <div class="Cntimg0">
             </div>
            <p>
           Slobodno nas pozovite uvek kada Vam je potrebno dodatno obaveštenje.
            </p>
            <div class="CQBorder">
            </div>
        </div>
        <div class="cntinfo">
          <p>Naša adresa, Vama na raspolaganju: </p>
            <h3>INI Industrijski inženjering </h3>
              <span>
                    Danka Popovića 32<br>
                    11000 Beograd<br>
                    tel.: 011 20-88-666<br> 
                    fax: 011 20-88-637<br>
                  <a href="mailto:ini@ini.rs">ini@ini.rs</a>,<a href="mailto:office@das-serbia.com">office@das-serbia.com</a> 
              </span>
          </div>
        </div>
        <div class="navSec left">
            <div class="ctnlinks">
            </div>
            <div class="linksBox">
                <ul>
                    <li>&raquo;&nbsp;&nbsp;<a href="#">ID Obrazac</a></li>
                    <li>&raquo;&nbsp;&nbsp;<a href="#">PEPDV</a></li>
               </ul>
            </div>
            <div class="linksBottom">
            </div>
        </div>
    </div>*@