@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="margin:57px 0 0 350px;padding:40px; overflow:hidden;width:auto;">
    <div style="float:left;">
         @Html.Raw(Html.INIGroupLabel("Contact","lblSideNav-left"))
      
    </div>
    <div style="float:left;margin: 0 75px 0 110px;">
        <div class="iniBoxYellow">
            @Html.Raw(Html.INIGroupLabel("Contact","lblContact-img"))
        </div>
         <div>
             @Html.Raw(Html.INIGroupLabel("Contact","lblContact"))
         </div>
        <br />
        <div>

              @Html.Raw(Html.INIGroupLabel("Contact","lblInfo"))
          
         </div>
    </div>
    <div>
        <ul class="navs">
            <li> <img src="~/img/img/nav/relatedlinks.gif" alt="Alternate Text" /></li>
            <li><a href="#">ID obrazac</a></li>
            <li><a href="#">PEPDV</a></li>
             <li> <img src="~/img/img/nav/l2.gif" alt="Alternate Text" /></li>
        </ul>

    </div>
    <script>


    </script>

</div>