@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div style="margin:47px 0 0 800px; border:1px solid black;overflow:hidden;width:300px;">
   <div id="redBorder">
       <img src="~/img/contact.jpg" alt="Alternate Text" />
   </div>
   <div id="greenBorder" style="align-content:center;">
       <p>Naša adresa, Vam je na raspolaganju:</p>

       <h3>INI Industrijski inženjering</h3>
       <span style="text-align:left;">
          Danka Popovića 32<br>
            11000 Beograd<br>
            tel.: 011 20-88-666<br> 
            fax: 011 20-88-637<br> 
           <p><a href="mailto:ini@ini.rs">e-mail: ini@ini.rs</a>,<a href="mailto:office@das-serbia.com">office@das-serbia.com</a></p>
          
       </span>
   </div>
</div>