@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


 
    <div class="midSec red left">
      <div class="CQTextBox">
            <div class="Cntimg0">
             </div>
            <p>
           Slobodno nas pozovite uvek kada Vam je potrebno dodatno obaveštenje.
            </p>
            <div class="CQBorder">
            </div>
        </div>
        <div class="cntinfo">
          <p>Naša adresa, Vama na raspolaganju: </p>
            <h3>INI Industrijski inženjering </h3>
              <span>
                    Danka Popovića 32<br>
                    11000 Beograd<br>
                    tel.: 011 20-88-666<br> 
                    fax: 011 20-88-637<br>
                  <a href="mailto:ini@ini.rs">ini@ini.rs</a>,<a href="mailto:office@das-serbia.com">office@das-serbia.com</a> 
              </span>
          </div>
        </div>
        <div class="navSec blue left">
            <div class="ctnlinks">
            </div>
            <div class="linksBox">
                <ul>
                    <li>&raquo;&nbsp;&nbsp;<a href="#">ID Obrazac</a></li>
                    <li>&raquo;&nbsp;&nbsp;<a href="#">PEPDV</a></li>
               </ul>
            </div>
            <div class="linksBottom">
            </div>
        </div>
