@{
    ViewBag.Title = "Customers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}






<div class="col-sm-12">
    <h2>Kupci</h2>
    <div class="col-sm-8">
        <div class="row mbottom">
            <img class="img-responsive" src="/INIGroup/Content/cms_images/custumers.png" alt="custumers.png" />
        </div>
        <div class="row">
            <h3 class="blueH">Vodeće svetske kompanije</h3>
            <div class="col-sm-9 mgn-btm-10">
                <p>
                    ABB, Alcatel, Alstom, Apple, Benteler, Bentley, Black&Decker,
                 ChevronTexaco, ConocoPhillips, DaimlerChrysler, Dana, Delphi, 
                Eaton, Ford, General Electric, General Dynamics, Halliburton, 
                Hitachi, Honda, Hyundai, Maxtor, Mittal Steel, Pirelli,
                 Sandvik, Shell, Siemens, SKF, SSAB, Sulzer, Thyssen-Krupp,
                 Total, Toyota, i mnoge druge
                </p>
            </div>
            </div>
        <div class="row">
            <h3 class="blueH">Najpoznatiji Univerziteti</h3>
            <div class="col-sm-9   mgn-btm-10">
                <p>
                    Aarhus Technical University, Lehigh University,
                    Stanford University, University of Bologna, 
                    University of Florence, i drugi
                </p>
            </div>
            </div>
       <div class="row">
        <h3 class="blueH">Renomirane institucije</h3>
            <div class="col-sm-9   mgn-btm-10">
                <p>
                   AQA, Finish Standardization Organization, 
                    Indian Standardization Bureau, 
                    Korean Standardization Association, 
                    Livermore National Laboratory, Lloyds, 
                    SGS, TÜV, i druge
                </p>
            </div>
            </div>
         <div class="row">
        <h3 class="blueH">Klijenti u Srbiji</h3>
            <div class="col-sm-9   mgn-btm-10">
                <p>
                   Centroprojekt, Fabrika kablova Zaječar, 
                    Farmaceutsko društvo Srbije, Građevinska 
                    direkcija Srbije, ITM Group, HI Župa, HDL, 
                    MDS, RTB Bor, Siemens doo, Unifarm, 
                    Urbanistički zavod Beograda, Vatrosprem, 
                    Vega, Yugoimport PMC, i mnogi drugi
                </p>
            </div>
            </div>


        </div>
   





    <div class="col-sm-4">
        <div class="row">
            <div class="col-sm-12">
                <div class="panel panel-default">
                    <div id="blue" class="panel-heading text-center">Značajni linkovi</div>
                    <div class="panel-body">
                       <ul class="list-unstyled  font12">
                            <li class="mgn-btm-20"><a href="@Url.Action("Testimoni","Home")">&rarr;&nbsp; &nbsp;<span style="margin-left:5px;">Pogledajte šta naši kupci kažu o radu sa nama</span></a></li>
                            <li><a href="@Url.Action("Contact","Home")">&rarr;&nbsp; &nbsp;Javite nam se, da zajedno pronađemo najbolje rešenje za Vas</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
         <div class="row">
            <div class="col-sm-12">
                <div class="panel panel-default">
                    <div id="yellow" class="panel-heading text-center">Reference</div>
                    <div class="panel-body text-justify font11">
                        <p>Compettest sada koriste distributeri iz dvadeset zemalja sveta.
                             Očekivanja SKF-a potpuno su ostvarena, a prvenstveno u edukativnom smislu. 
                            Koncept kojim prvo 'zagolicate' korisnika pitanjem a zatim mu ponudite odgovor i 
                         objašnjenje pokazao se mnogo efikasnijim od klasičnog 'nauči pa odgovaraj' 
                            </p> 

                        Miloš Bjelica <br>
                        SKF, Švedska
                    </div>
                </div>
            </div>
        </div>
    </div>





    </div>

    