@{
    ViewBag.Title = "Education";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-sm-12">
    <h2>Obuka i prenos znanja</h2>
    <div class="col-sm-8">
        <div class="row mbottom">
            <img class="img-responsive" src="/INIGroup/Content/cms_images/edu.png" alt="edu.jpg" />
        </div>
        <div class="row">
            
            <div class="col-sm-9">
                <h3  class="blueH mgn-btm-20">Obuka i prenos poslovnog znanja (know-how transfer) </h3>
                <p>Predavanja se izlažu na jasan i jednostavan način, koji lako može da razume i primeni široka ciljna grupa slušalaca:</p>
               
                <ul id="basic">
                    <li>vrhunski menadžeri i poslovni ljudi</li>
                    <li>individualci ili preduzetnici</li>
                    <li>rukovodioci i profesionalci u informacionim i komunikacionim tehnologijama, uključujući programere i Web dizajnere</li>
                    <li>zaposleni u državnoj administraciji i srodnim sektorima</li>
                    <li>specijalisti za odnose sa kupcima i podršku prodaji</li>
                </ul>
                <p>Glavne teme seminara iz oblasti e-poslovanja su: </p>
                <ul id="basic">
                    <li>Pregled stanja i trendova e-poslovanja u svetu i modeli marketing nastupa na Internetu</li>
                    <li>Koncipiranje e-poslovanja i Web sajta koji prodaje
Tehnike koje se koriste za privlačenje posetilaca i povećanje gledanosti sajta</li>
                    <li> Karakteristike i specifičnosti e-poslovanja između preduzeća</li>
                    <li>Prikaz sistema plaćanja na Internetu</li>
                    <li>Značaj e-poslovanja unutar preduzeća</li>
                      <li>Funkcionalnost intraneta i prikaz njegove strukture</li>
                    <li>Problematika prenosa informacija, poslovne komunikacije i unapređenja korporativnog znanja</li>
                </ul>
                <p>Šta Vam seminari nude: </p>
                <ul id="basic">
                    <li>Povećanje kvaliteta obučenosti i znanja Vaših kadrova</li>
                    <li>Prenos znanja stečenog kroz međunarodno elektronsko poslovanje, sa kupcima iz vodećih svetskih kompanija iz više od 120 zemalja širom sveta</li>
                   <li>Primeri iz prakse (Case Study) koji su deo iskustva organizatora i predavača</li>
                </ul>
            </div>
        </div>
         <div class="row">
            
            <div class="col-sm-9">
                <h3  class="blueH mgn-btm-20">Najpogodniji model transfera tehnologije za Vas  </h3>
                <p>Čak i ako obezbedite najbolju obuku za vaše zaposlene, stvarni rezultati dolaze tek kada se zaposleni uključe u realne projekte. Zbog toga primenjujemo koncept zajedničkog razvoja (model Joint Application Development), najdelotvorniju kombinaciju učenja, praktične obuke, i rada na stvarnim projektima koji su od interesa za vašu kompaniju. </p>
                <p>
                    Kroz zajednički razvoj prenosimo vam celokupnu veštinu potrebnog IT projektovanja (know-how), povećavamo kompetentnost vaše kompanije i, istovremeno, štedimo novac koji ulažete u razvoj softvera. 
                </p>
               
                
            </div>
        </div>
 <a href="@Url.Action("Contact","Home")">Kontaktirajte nas da se dogovorimo oko detalja</a>
    </div>

    <div class="col-sm-4">
        <div class="row">
            <div class="col-sm-12">
                <div class="panel panel-default ">
                    <div id="yellow" class="panel-heading text-center ">Utisci kupaca</div>
                    <div class="panel-body font11">
                        <p>Predavanja su odlična, jasna i stručna, potkrepljena praktičnim primerima. 
</p>
Biljana Janković <br />  
Telekom Srbija, Beograd 
                    </div>
                </div>
            </div>
        </div>
         <div class="row">
            <div class="col-sm-12">
                <div class="panel panel-default">
                    <div id="yellow" class="panel-heading text-center">Reference</div>
                    <div class="panel-body text-justify font11">
                        <p><b>Specijalno priznanje za doprinos razvoju e-poslovanja u Makedoniji</b></p>
                        <img  class="img-responsive center-block" src="/INIGroup/Content/cms_images/Skopkom.jpg" alt="Skopkom.jpg" />
                        <p><b>Nagrada našem partneru za informatičko dostignuće 2003.</b></p>
                        <img  class="img-responsive center-block" src="/INIGroup/Content/cms_images/priznanje_vel.jpg" alt="priznanje_vel.jpg" />
                        <p><b>Izdvajamo za Vas </b></p>
                        <p>Naše rešenje za upravljanje znanjem Business Test
                             System dobilo je veoma povoljnu recenziju u časopisu 
                            <b>Ekonomist.</b></p>
                         <a href="Download/Praksa.pdf" target="_blank">Kliknite ovde za download članka u 
                        PDF formatu (200K)</a>.<br>
                        <img class="img-responsive center-block" src="~/Content/cms_images/image_ma.jpg" alt="image_ma.jpg" />
                        
                    </div>
                </div>
            </div>
        </div>
    </div>



</div>

