@{
    ViewBag.Title = "Intranet";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="col-sm-12">
    <h2>Intranet platforma</h2>
    <div class="col-sm-8">
        <div class="row mbottom">
            <img class="img-responsive " src="/INIGroup/Content/cms_images/intranet.png" alt="abt.png" />
        </div>

        <div class="row">
            
           
            <div class="col-sm-9">
                  <h3 class="blueH">Jedinstvena intranet platforma – instrument za Vaše efikasno poslovanje </h3>

                <p>
                    Originalna INI struktura Vašeg intraneta daje Vam punu fleksibilnost, kroz aplikacije koje se mogu koristiti zasebno, ili u kombinaciji kao jedinstvena platforma za Vaše uspešno poslovanje:
                </p>
                
            <ul id="basic">
                    <li><b>PowerMessage</b>, aplikacija koja se zasniva na sistemu kratkih i strukturiranih poruka, na efikasan način rešava problem upravljanja informacijama i komunikacije u preduzeću</li>
                    <li><b>Compettest</b>, aplikacija za upravljanje znanjem (knowledge management), orijentisana ka proceni i unapređenju individualnog, grupnog i korporativnog znanja</li>
                    <li><b>InISO</b>, softverski sistem za podršku uvođenja i razvoja sistema kvaliteta prema ISO 9001 i/ili ISO 14001 standardima</li>
                    <li><b>Menadžerske aplikacije</b>, korišćenjem veza ka postojećim podacima i spoljašnjim izvorima podataka pružaju niz potrebnih menadžerskih informacija, izveštaja i dokumenata</li>
                   </ul>
                <img class="img-responsive" src="/INIGroup/Content/cms_images/Intranet_scheme.jpg" alt="Alternate Text" />
                <p>
                    Zajednička karakteristika intranet rešenja koja smo pripremili za Vas: 
</p>


     
            <ul id="basic">
                    <li>korišćenje najsavremenijih Web tehnologija</li>
                    <li>program za gledanje sadržaja je Web čitač</li>
                    <li>mogućnosti rada bez prostornih i geografskih ograničenja</li>
                    <li>jednostavan, ali izrazito primenljiv koncept i prihvatljiva cena</li>
                <li>ugrađena višejezička podrška.</li>
                   </ul>
            
            </div>
            
        </div>

    </div>

    <div class="col-sm-4 ">
        <div class="row">
           
        <div class="panel panel-default">
                        <div id="blue" class="panel-heading text-center panel-custum">Znacajni linkovi</div>
                       <div class="panel-body font12">
                           <ul class="list-unstyled">
                               <li><a href="/INIGroup/Documents/Zupa intranet.ppt">&raquo;&nbsp; &nbsp;Case study Intranet HI Župa <br /> (Microsoft PowerPoint)</a></li>
                                 <li> <a href="/INIGroup/Documents/PowerMessage.ppt">&raquo;&nbsp; &nbsp;Uvod u PowerMessage <br />(Microsoft PowerPoint)</a></li>
                             
                                   <li><a href="/INIGroup/Documents/Compettest.ppt">&raquo;&nbsp; &nbsp;Uvod u Compettest <br />
(Microsoft PowerPoint)</a></li>
                           </ul>
                           
                           
                           
                            
                       </div>
                            
                        </div>
            </div>
            <div class="row">
                <div class="panel panel-default">
                        <div id="yellow" class="panel-heading text-center panel-custum">Utisci kupaca</div>
                        <div class="panel-body font12">
                            <p>Compettest sada koriste distributeri iz dvadeset zemalja sveta. Očekivanja SKF-a potpuno su ostvarena, a prvenstveno u edukativnom smislu. Koncept kojim prvo 'zagolicate' korisnika pitanjem a zatim mu ponudite odgovor i objašnjenje pokazao se mnogo efikasnijim od klasičnog 'nauči pa odgovaraj'. 
                            </p>
                            <p>Miloš Bjelica <br /> 
                                SKF, Švedsk
                            </p>
                            
                        </div>
                </div>
                 <div class="panel panel-default">
                        <div id="yellow" class="panel-heading text-center panel-custum">Reference</div>
                        <div class="panel-body font12">
                            <p>
                                Nagrada našem partneru za informatičko dostignuće 2003.
                            </p>
                            
                            <img class="img-responsive " src="/INIGroup/Content/cms_images/priznanje_vel.jpg" alt="Alternate Text" />
                            <p>
                                <b> Intranet HI Župa</b>, zajednički projekat, nagrađen je <b>specijalnim priznanjem za informatičko dostignuće 2003.</b> za razvoj intranet aplikacije.
                            </p>
                            <hr />
                            <p>
                                Naša Internet/intranet rešenja <b>Compettest</b>, softverski paket za upravljanje i unapređenje znanja u preduzeću i <b>PowerMessage</b>, sistem za razmenu korporativnih poruka, instalisani su u većem broju kompanija u zemlji i svetu.<b> U švedskom koncernu SKF nominovani su za inovaciju godine.</b>
                            </p>
                        </div>
                </div>
            </div>        
        </div>
                        
    </div>
