@{
    ViewBag.Title = "isoCert";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="col-sm-12">
    <h2>ISO Sertifikacija</h2>
    <div class="col-sm-8">
        <div class="row mbottom">
            <img class="img-responsive" src="/INIGroup/Content/cms_images/isocert.png" alt="isocert.pn" />
        </div>
        <div class="row">
            <div class="col-sm-9">
            <h3  class="blueH mgn-btm-20">Kompletan sistem za unapređenje kvaliteta u Vašem preduzeću 
 </h3>  
                <p>
                    <b>Usluga sertifikacije</b> koju Vam pruža <b>DAS Srbija</b>, kao deo INI d.o.o., prilagođena je Vašim potrebama: 
                </p>
                 <ul id="basic">
                    <li>Svetski priznati sertifikati sistema kvaliteta ISO 9001 i ISO 14001 u skladu sa zahtevima najpoznatijeg akreditacionog tela UKAS iz Velike Britanije</li>
                    <li>Konkurentna cena sertifikacije i re-sertifikacije i visok kvalitet naše usluge, koja u potpunosti ispunjava zahteve britanskog UKAS-a</li>
                    <li>Sertifikati na engleskom i srpskom jeziku, kao i na jezicima po Vašem izboru, za istu cenu, bez doplate</li>
                </ul>
                <p>Dodatne pogodnosti koje Vam nudimo su i: </p>
               <ul id="basic">
                    <li>Jednostavna i precizna procedura, koja doprinosi brzini procesa sertifikacije i uštedi Vašeg vremena</li>
                    <li>Sertifikaciju obavlja tim iskusnih i registrovanih profesionalaca - ocenjivača koji veoma dobro razume Vaše potrebe, očekivanja i zahteve</li>
                    <li>Ocenjivači su geografski locirani u vašoj blizini, komunikacija je na srpskom jeziku</li>
                </ul>
                <a href="@Url.Action("Contact","Home")">Javite nam se</a>
            </div>
        </div>
 

        








    </div>

    <div class="col-sm-4">
        <div class="row">
            <div class="col-sm-12">
                <div class="panel panel-default ">
                    <div id="blue" class="panel-heading text-center">Značajni linkovi</div>
                    <div class="panel-body">
                        <ul class="list-unstyled font12">
                            <li><a href="http://www.das-serbia.com/">&rarr;&nbsp; &nbsp;DAS Srbija</a></li>
                            <li><a href="http://www.das-see.com/Home/ApplicationForm">&rarr;&nbsp; &nbsp;Informativni upitnik</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>



</div>