@{
    ViewBag.Title = "News";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Novosti</h2>
<div class="midSec red left">
    <div style="width:400px;">
    
      <div class="CQTextBox">
          <div class="CQimg0">
         </div>
        <p>
            Visoki kvalitet usluga za nas nije samo cilj, 
            već osnova daljeg razvoja i napretka. 
            Odražavajući internacionalni fokus našeg preduzeća, 
            nivo kvaliteta naših usluga mora da bude iznad inostrane i domaće konkurencije, 
            i usaglašen sa najsavremenijim svetskim zahtevima i standardima.
        </p>
     
        <div class="CQBorder">
      </div>
    </div>
    </div>

 

    <div class="nwsBox">

          <h3>Novosti 2009</h3> 

        <h4><b>E-poslovanje za SKF Mechatronics platformu (Novembar 2009)</b></h4>
        
        <p>Posle uspeha u realizaciji projekta SKF Power Transmission, 
            koji se posle prvog lansiranja permanentno razvija od 2006. 
            godine, u Parizu je dogovorena realizacija aplikacije za 
            elektronsko poslovanje za SKF Mechatronics. 
            Ovim je INI preuzeo realizaciju druge od ukupno pet platformi 
            proizvoda švedskog koncerna. 

        </p> 

    </div>

    <div class="nwsBox">
        <h4><b>DAS aktivnosti u trećem kvartalu (Septembar 2009)</b></h4>
        
        <p>
            Ocenjivači DAS Srbije su izvršili provere, 
            na osnovu kojih je DAS Certification Ltd 
            iz Velike Britanije izdao sertifikate ISO 
            9001 organizacijama:  
        </p> 
        <ul id="basic">
            <li>Employment agency MOTIVI, Skopje</li>
            <li>Geosonda-Konsolidacija ad, Beograd</li>
            <li>Aqua Mont Service doo, Beograd</li>
            <li>PGUZZ Feniks, Beograd</li>
            <li>Jupiter-Higijena doo, Beograd</li>
        </ul>
        <p>
            Sertifikovan Sistem Menadžmenta Sigurnošću
             Informacija organizacije JKP Informatika
             Novi Sad prema zahtevima standarda ISO 27001:2005. 
        </p>
        <p>
            Sertifikovan Sistem Menadžmenta organizacije
             Koto doo iz Beograda, prema zahtevima ISO 14001:2004 
            i OHSAS 18001:2007. 
        </p>
        <p>
            Sertifikovan Sistem Menadžmenta Sigurnošću 
            Informacija organizacije T-Mobile Macedonia 
            AD Skopje prema zahtevima standarda ISO 27001:2005. 
        </p>

    </div>

    <div class="nwsBox">

        <h4><b>DAS aktivnosti u drugom kvartalu (Jun 2009) </b></h4>
        
        <p>
            Ocenjivači DAS Srbije su izvršili provere, 
            na osnovu kojih je DAS Certification Ltd iz 
            Velike Britanije izdao sertifikate ISO 9001 
            organizacijama: 
        </p>
        <ul id="basic">
            <li>P.U.Z. Budućnost, Obrenovac</li>
            <li>Medalex doo, Beograd</li>
            <li>Aqua Mont Service doo, Beograd</li>
            <li>Vetprom-Hemikalije ad, Beograd</li>
            <li>TDM doo, Beograd</li>
        </ul>
        <p>
           Sertifikovan Sistema Menadžmenta Kvalitetom i 
            Sistem Menadžmenta Sigurnošću Informacija organizacije 
            PB Agrobanka AD Beograd prema zahtevima standarda ISO 
            9001:2008 i ISO 27001:2005. 
        </p>
        <p>
            Sertifikovan Sistem Menadžmenta Bezbednošću hrane 
            organizacije DPTU Kola dooel iz Skopja, prema zahtevima 
            standarda ISO 22000:2005. 
        </p>
        <p>
           Sertifikovan Sistema Menadžmenta Kvalitetom i HACCP organizacije 
            Kraljevačka industrija mesa Export doo iz Kraljeva, 
            prema zahtevima standarda ISO 9001:2000 i zahtevima Codex 
            Alimentarius CAC/RCP 1-1969 (Rev.4-2003). 
        </p> 

    </div>
    <div class="nwsBox">

        <h4><b>Nova multimedijalna aplikacija SKF World of Knowledge (Maj 2009)</b></h4>
        
        <p>
            INI je otpočeo razvoj multimedijalna aplikacija World of Knowledge za potrebe 
            švedskog koncerna SKF. Cilj aplikacije, koja će upotrebljavati SKF distributeri 
            i krajnji korisnici iz čitavog sveta, je da upravlja znanjem i multimedijalno 
            prezentira know-how o proizvodima i njihovoj primeni, za svih 5 platformi i 
            desetine hiljada proizvoda. 
        </p> 

    </div>
    <div class="nwsBox">

        <h4><b>DAS aktivnosti u prvom kvartalu (Mart 2009)</b></h4>
        
        <p>
            Ocenjivači DAS Srbije su izvršili provere, na osnovu kojih 
            je DAS Certification Ltd iz Velike Britanije izdao sertifikate 
            ISO 9001 organizacijama: 
        </p>
        

 
        <ul id="basic">
            <li>Termogen doo, Zemun</li>
            <li>Invest Montaža doo, Beograd</li>
            <li>Farmaceutsko društvo Srbije, Beograd</li>
        </ul>
        <p>
            Sertifikovan Sistema Menadžmenta Kvalitetom i HACCP organizacije 
            Iceberg Salat Centar doo iz Beograda, prema zahtevima standarda 
            ISO 9001:2008 i zahtevima Codex Alimentarius CAC/RCP 1-1969 (Rev.4-2003). 
        </p>
         <p>
            Sertifikovan Sistema Menadžmenta Kvalitetom organizacije 
             Iveco Simpex doo iz Beograda, prema zahtevima standarda ISO 9001:2000.

        </p>
        <p>Sertifikovan Sistem Menadžmenta Kvalitetom i Sistem Menadžmenta 
            Sigurnošću Informacija organizacije Tehnicom Computers doo iz 
            Beograda, prema zahtevima standarda ISO 9001:2008 i ISO 27001:2005. 

        </p>
        <p>
            Sertifikovan Sistem Menadžmenta Kvalitetom i Sistem Menadžmenta 
            Zaštitom Životne Sredine organizacije Adeco doo iz Novog Sada, prema
             zahtevima standarda ISO 9001:2008 i ISO 14001:2004. 
        </p>
        <p>
            Uz re-sertifikaciju Sistema Menadžmenta Kvalitetom prema zahtevima 
            standarda ISO 9001:2008, organizacija 
            Unifarm medicom doo iz Zemuna, izvršila sertifikaciju Sistem Menadžmenta 
            Sigurnošću Informacija prema zahtevima standarda ISO 27001:2005. 
        </p>
       
        <p>
             U skladu sa instrukcijama IAF-ISO (referenca: Joint IAF-ISO communiqué "Implementation of accredited certification to ISO 9001:2008") o 
        tranziciji na akreditovane sertifikate ISO 9001:2008, preporuka sertifikacionog tela DAS Certification Ltd je da tokom 2009. godine, prilikom narednih provera 
        (nadzor, re-sertifikacija), klijenti izvrše tranziciju sertifikata. Prilikom provere usklađenosti Sistema Menadžmenta Kvalitetom Vaše organizacije sa zahtevima ISO
         9001:2008 biće Vam izdavani novi akreditovani sertifikati ISO 9001:2008. 

        </p>
    
    </div>
    <div class="nwsBox">

        <h4><b> INI u vrhunskom naučnom projektu Evropske Unije (Februar 2009) </b></h4>
        
        <p>
            Kao jedno od malog broja preduzeća iz regiona Jugoistočne Evrope,
             INI učestvuje u vrhunskom naučnom projektu iz šeme FP7 Evropske Unije. 
        </p> 
        <p>
            U okviru naučnog projekta IntelLeo, koji traje do 2012. godine, INI je industrijski
             partner u okviru konzorcijuma koji čine nemački Volkswagen, španska softverska firma 
            ATOS i istraživačke organizacije iz Nemačke, Austrije, Srbije i Estonije. 
        </p>

    </div>
</div>


<div class="navSec left">
    <img src="~/Content/nav/rs/relatedlinks.gif" alt="Alternate Text" />
            <ul style="list-style:none;padding-left:30px;background-color:#d0e7fd;width:200px;margin:0;"> 
                <li><a href="#">&rarr;&nbsp; &nbsp;Arhiva 2008</a></li>
                <li><a href="#">&rarr;&nbsp; &nbsp;Arhiva 2007</a></li>
                <li><a href="#">&rarr;&nbsp; &nbsp;Arhiva 2006</a></li>   
                <li><a href="#">&rarr;&nbsp; &nbsp;Arhiva 2005</a></li>
                <li><a href="#">&rarr;&nbsp; &nbsp;Arhiva 2004</a></li>
                <li><a href="#">&rarr;&nbsp; &nbsp;Arhiva 2003</a></li>
                <li><a href="#">&rarr;&nbsp; &nbsp;Arhiva 2002</a></li>
            </ul>
    <img src="~/Content/nav/rs/l2.gif" alt="Alternate Text" />

    <img src="~/Content/nav/rs/references_sz.gif" style="margin-top:20px" alt="ref" />
    <div class="CQBox">

  
            <p>Specijalno priznanje za doprinos razvoju e-poslovanja u Makedoniji </p>
            
   
        <div>
            <img style="height:211px;width:138px;" src="/INIGroup/Content/cms_images/Skopkom.jpg" alt="skopkom" />
        </div>
        <p>
           Nagrada našem partneru za informatičko dostignuće 2003. 
        </p>
        <div>
            <img style="height:211;width:138px;" src="/INIGroup/Content/cms_images/priznanje_vel.jpg" alt="priznanje" />
        </div>
        <p><b>Izdvajamo za Vas</b></p>
        
        <p>Naše rešenje za upravljanje znanjem Business Test System dobilo je veoma povoljnu recenziju u časopisu Ekonomist.</p><br>
        <img src="~/Content/cms_images/image_ma.jpg" alt="Alternate Text" />
       <a href="Download/Praksa.pdf" target="_blank">Kliknite ovde za download članka u 
        PDF formatu (200K)</a>.

  </div>
    <div class="CQBBottom">
    </div>


</div>

