@{
    ViewBag.Title = "Quality";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="navSec left">
    <div>
        <h3>Kvalitet</h3>
        <ul class="subNav">
            <li><img src="/INIGroup/Content/nav/rs/t2-Onama_sr.gif" alt="t2-Onama_sr.gif" /></li> 
            <li><a href="@Url.Action("abouUs", "Home")">Ko smo mi</a></li>
            <li><a href="@Url.Action("Quality", "Home")">Kvalitet</a></li> 
            <li><a href="@Url.Action("Contact", "Home")">Kontakt</a></li>
            <li><img src="/INIGroup/Content/nav/rs/2b.gif" alt="2b.gif" /></li>
        </ul>
   </div>
</div> 


<div class="midSec left">
    <div class="CQimg0">
       @* <img src="/INIGroup/Content/cms_images/STR_631_74_956_5.jpg" alt="Alternate Text" />*@
     </div>
      <div class="CQTextBox">
        <p>
            Visoki kvalitet usluga za nas nije samo cilj, 
            već osnova daljeg razvoja i napretka. 
            Odražavajući internacionalni fokus našeg preduzeća, 
            nivo kvaliteta naših usluga mora da bude iznad inostrane i domaće konkurencije, 
            i usaglašen sa najsavremenijim svetskim zahtevima i standardima.
        </p>
     </div>
    <div class="CQBorder">
    </div>

</div>


<div class="navSec red left">
    <div class="CQimg1">
    </div>
    <div class="CQBox">
        <div>
            <p><b>Nemački sertifikati 
                za visok kvalitet 
                poslovnih procesa
           </b></p>
            <p>
                Za visok kvalitet poslovnih i razvojnih procesa, 
                koji je usklađen sa internacionalnom serijom standarda 
                EN ISO 9001:2008, naša kompanija je dobila sertifikat 
                nemačkog ocenjivačkog tela TÜV CERT iz Esena. 
            </p>
        </div>
    </div>
    <div class="CQBBottom">

    </div>


</div>
