@{
    ViewBag.Title = "Testimoni";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="col-sm-12">
    <h2>Utisci kupaca</h2>
    <div class="col-sm-8">
        <div class="row mbottom">
            <img class="img-responsive" src="/INIGroup/Content/cms_images/testimoni.png" alt="testimoni.png" />
        </div>
        <div class="row">
           
            <div class="col-sm-9">
                <p>
                    U seriji naših projekata, vaš tim je pokazao veliko razumevanje                         našeg poslovanja i vertikalnog tržišta, 
                    stvarnu empatiju i brzo vreme reagovanja. 
                </p>
                <p>
                    Radujem se našoj budućoj saradnji u projektima za globalno tržište.                 </p>
                <p>
                    Massimo Ascari <br />
                    Keeway Motors, Italija
                </p>
                <hr />
            </div>
            </div>
        
            <div class="row">
            <div class="col-sm-9">
                <p>
                    INI se dokazao kao dobar partner kada treba razviti i isporučiti projekte u visokom kvalitetu i brzini implementacije, uz fleksibilnost u izmenama zahteva i poboljšanjima.  
                </p>
                <p>
                   Izabrali smo ih za neke od naših kritičnih aktivnosti i uspeli da ostvarimo veliko poboljšanje poslovanja.                  </p>
                <p>
                   Daniel Barros, Marketing Manager Europe <br /> 
SKF, Švedska
                </p>
                <hr />
            </div>
            </div>
            
        <div class="row">
            <div class="col-sm-9">
                <p>
                   Na seminarima mi se posebno dopada visok nivo organizacije, koja omogućava da se maksimalno posvetimo predavanjima. Takođe i profesionalizam i pristupačnost predavača, i njihova spremnost da podele svoja iskustva u ovom poslu sa nama.
                <p>
                  Milena Đerković <br />
HI Župa, Kruševac
                </p>
                <hr />
            </div>
            </div>
            
        <div class="row">
            <div class="col-sm-9">
                <p>
                   Na seminarima mi se posebno dopada visok nivo organizacije, koja omogućava da se maksimalno posvetimo predavanjima. Takođe i profesionalizam i pristupačnost predavača, i njihova spremnost da podele svoja iskustva u ovom poslu sa nama.
                
                <p>
                  Milena Đerković <br />
HI Župa, Kruševac
                </p>
                <hr />
            </div>
            </div>
            <div class="row">
            <div class="col-sm-9">
                <p>
                 Svi moji zahtevi su bili shvaćeni vrlo ozbiljno, i zatim detaljno razmotreni i implementirani. 

                <p>
                 Nastavite sa unapređenjima. Radite odličan posao. 
                </p>
                <p>
                    M.J.L. Ostergaard <br />
Haldor Topsoe, Danska
                </p>
                <hr />
            </div>
            </div>    
        <div class="row">
            <div class="col-sm-9">
                <p>
                Compettest sada koriste distributeri iz dvadeset zemalja sveta. Očekivanja SKF-a potpuno su ostvarena, a prvenstveno u edukativnom smislu. Koncept kojim prvo 'zagolicate' korisnika pitanjem a zatim mu ponudite odgovor i objašnjenje pokazao se mnogo efikasnijim od klasičnog 'nauči pa odgovaraj'
                
                <p>
                  Miloš Bjelica <br />
SKF, Švedska

                </p>
                <hr />
            </div>
            </div>    
        <div class="row">
            <div class="col-sm-9">
                <p>
                Predavanja su odlična, jasna i stručna, potkrepljena praktičnim primerima. 

                <p>
                  Biljana Janković <br /> 
Telekom Srbija, Beograd
                </p>
                <hr />
            </div>
            </div>    
        <div class="row">
            <div class="col-sm-9">
                <p>
               Veoma sam impresionairana brzinom vašeg odgovora na moje zahteve za podrškom. Puno vam hvala. 
                <p>
                 Ardyth Hill <br />
Kennametal Inc, USA
                </p>
                <hr />
            </div>
            </div>    

        </div>
   





    <div class="col-sm-4">
        <div class="row">
            <div class="col-sm-12">
                <div class="panel panel-default">
                    <div id="blue" class="panel-heading text-center">Značajni linkovi</div>
                    <div class="panel-body">
                       <ul class="list-unstyled  font12">
                            <li class="mgn-btm-20"><a href="#">&rarr;&nbsp; &nbsp;<span style="margin-left:5px;">Pogledajte šta naši kupci kažu o radu sa nama</span></a></li>
                            <li><a href="#">&rarr;&nbsp; &nbsp;Javite nam se, da zajedno pronađemo najbolje rešenje za Vas</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
         <div class="row">
            <div class="col-sm-12">
                <div class="panel panel-default">
                    <div id="yellow" class="panel-heading text-center">Reference</div>
                    <div class="panel-body text-justify font11">
                        <p>Compettest sada koriste distributeri iz dvadeset zemalja sveta.
                             Očekivanja SKF-a potpuno su ostvarena, a prvenstveno u edukativnom smislu. 
                            Koncept kojim prvo 'zagolicate' korisnika pitanjem a zatim mu ponudite odgovor i 
                         objašnjenje pokazao se mnogo efikasnijim od klasičnog 'nauči pa odgovaraj' 
                            </p> 

                        Miloš Bjelica <br>
                        SKF, Švedska
                    </div>
                </div>
            </div>
        </div>
    </div>





    </div>
